/* Variables
*******************************************/
$dark_grey: #B3B3B3;
$light_grey: #E8E8E8;
$lighter_grey: #F5F5F5;
$def_grey: #333333;
$green: #039637;

/* General
*******************************************/

/* Added to prevent chrome bug */
.col-md-3 {
  width: 23%;
  float: none;
}

a, a:hover, a:focus {
  display: inline-block;
  color: $def_grey;
  text-decoration: none;
  border: none;
  outline: 0;
  outline-style: none;
}

.title {
  display: inline-block;
  margin: 10px 0;
  font-size: 18px;
}
.center { text-align: center; }
.modal-content { padding: 25px; }
.modal { margin-top: 100px; }
.btn {
  min-width: 100px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Shared
*******************************************/
.highlight-on-hover {
  display: inline-block;
  padding: 0 5px;
  border-radius: 8px;
  line-height: 14px;
  margin: 3px 0;

  &:hover{
    font-style: italic;
    color: #696969;
    /*background-color: $light_grey;*/
  }
}

.new {
  cursor: pointer;
  border: 2px dashed $dark_grey;
  text-align: center;
  
  &.project {
    background-color: white;
    padding: 35px;

    &:hover {
      background-color: $lighter_grey;
      box-shadow: none;
    }
  }
}

.btn-like {
  text-decoration: none;
  cursor: pointer;
  background-color: #f8f8f8;

  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #FFFFFF),
  color-stop(1, #F2F2F2)
  );
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%);
  
  &:hover, &:focus, &:active {
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #FFFFFF),
      color-stop(1, #F2F2F2)
    );
    background-image: linear-gradient(to top, #FFFFFF 0%, #F2F2F2 100%);
  }
}

/* Devise login form
*******************************************/
form#new_user {
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  
  border: 8px solid #EBEBEB;
  background-color: #F5F5F5;
  
  font-weight: 400;
  font-style: normal;
}

/* Projects
*******************************************/
.project {
  margin-right: 15px;
  margin-bottom: 20px;
  width: 250px;
  min-height: 97px;
  padding: 8px;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  display: inline-block;

  background-color: $light_grey;

  &:hover{
    box-shadow: 5px 5px 0 $dark_grey;
  }
}

/* Tasks
*******************************************/
.tasks {
  .list {
    display: inline-block;
    vertical-align: top;

    background-color: $light_grey;
    border-radius: 10px;
    margin: 5px;
    list-style-type: none;

    .task {
      cursor: pointer;
      margin: 8px 0;
      margin-bottom: 10px;
      padding: 8px;
      border-radius: 5px;
      background-color: $lighter_grey;
      
      &:hover{
        box-shadow: 3px 3px 0 $dark_grey;
      }
    } 
    
    &.highlight {
      box-shadow: 0 0 20px -3px #0091ff;
          border: 1px solid #70c3ff;
    }   
  }
}
